<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить статью</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="cover">
        <img src="/img/account-banner.png" alt="account-banner.jpg">
</div>

<div class="container" align="center">
    <h2 align="center" class="featurette-heading fw-normal lh-1">Поделись своими новостями с нами</h2>
    <p class="lead" align="center" >Заполняй форму и делись с читателями последними событиями</p>
    <fieldset>
        <label align="left" for="title" >Название статьи: </label>
        <input type="text" name="title" id="title" placeholder="Введите название статьи"><br>

        <label align="left" for="text">Текст статьи: </label>
        <textarea  name="text" id="text" placeholder="Введите текст статьи"></textarea><br>

        <label align="left" for="tags">Теги статьи: </label>
        <input type="text" id="tags" placeholder="Введите теги через запятую"><br>

        <label align="left" for="tags">Определите категории вашей статьи: </label>
        <ul class="menu row" id="categories">
            <li><label>
                <input type="checkbox">
            </label>Активные</li>
            <li><label>
                <input type="checkbox">
            </label>Семейные</li>
            <li><label>
                <input type="checkbox">
            </label>Пляжные</li>
            <li><label>
                <input type="checkbox">
            </label>Культурные</li>
        </ul>

        <div align="center" style="margin: 20px 0 20px 0;">
            <button class="btn" type="submit" >
                <a href="/templates/account.html">Применить</a>
            </button>
        </div>

    </fieldset>
</div>

</body>
</html>