<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="~{/blocks/header :: header}"></div>
<div class="rect-1 content">
    <img src="/img/articles-cover.png" alt="articles-cover.png">
</div>
<div class="container">
    <h2 align="center" class="featurette-heading fw-normal lh-1">Новости из путешествий</h2>
    <p class="lead" align="center" style="margin:20px 0 40px 0">Будь вкурсе последних событий с нашим блогом</p>

    <form>
        <ul class="menu menu-sub">
            <li><label>
                <input type="checkbox">
            </label>Все категории</li>
            <li><label>
                <input type="checkbox">
            </label>Активные
            </li>
            <li><label>
                <input type="checkbox">
            </label>Семейные
            </li>
            <li><label>
                <input type="checkbox">
            </label>Пляжные
            </li>
            <li><label>
                <input type="checkbox">
            </label>Культурные
            </li>
        </ul>
        <div align="center">
            <button  class="btn" th:href="@{/templates/post-create.html}">Применить</button>
        </div>

    </form>

    <div class="row row-1">
        <div class="col-md-4 order-md-1 card shadow-sm">
            <div class="rect-3 content">
                <img src="/img/1.png" alt="1.png">
            </div>
            <div class="card-body">
                <div class="card-title">
                    Путешествие по горной Исландии
                </div>
                <p class="card-text">
                    Исландия – островное государство на просторах Мирового океана между Норвегией и Гренландией.
                    Остров охватывает площадь в 103 599 кв. км и является вторым по величине в Европе
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <button >Изменить</button>
                    <button>Удалить</button>
                    <small class="text-muted">14/12/2022</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-md-2 card shadow-sm">
            <div class="rect-3 content">
                <img src="/img/1.png" alt="1.png">
            </div>
            <div class="card-body">
                <div class="card-title">
                    Путешествие по горной Исландии
                </div>
                <p class="card-text">
                    Исландия – островное государство на просторах Мирового океана между Норвегией и Гренландией.
                    Остров охватывает площадь в 103 599 кв. км и является вторым по величине в Европе
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <button >Изменить</button>
                    <button>Удалить</button>
                    <small class="text-muted">14/12/2022</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-md-3 card shadow-sm">
            <div class="rect-3 content">
                <img src="/img/1.png" alt="1.png">
            </div>
            <div class="card-body">
                <div class="card-title">
                    Путешествие по горной Исландии
                </div>
                <p class="card-text">
                    Исландия – островное государство на просторах Мирового океана между Норвегией и Гренландией.
                    Остров охватывает площадь в 103 599 кв. км и является вторым по величине в Европе
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <button >Изменить</button>
                    <button>Удалить</button>
                    <small class="text-muted">14/12/2022</small>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>