<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Название</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="~{/blocks/header :: header}"></div>
<div id="cover" class="rect-1 content">
    <img src="/img/articles-cover.png" alt="articles-cover.png">
</div>
<div class="container">
    <h2>Название</h2>
    <p>Текст</p>
    <p>Категории: </p>
    <p>Теги: </p>
</div>
</body>
</html>