<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{/blocks/header :: header}"></div>
<div class="rect-1 content">
    <img alt="main-cover.png" src="/img/main-cover.png"/>
</div>
<div class="container">

    <div id="about" class="row row-3 row-block">
        <div class="col-md-5 order-md-1">
            <img src="/img/main-banner.png" width="580" alt="main-banner.png">
        </div>
        <div class="col-md-7 order-md-2">
            <p><small>TraveLove</small></p>
            <h2 class="feature-heading fw-normal lh-1">Мы поможем тебе найти любимое место</h2>
            <p class="lead">Совершай виртуальное путешествие с нашим блогом каждый день.
                Мы любим путешествовать, искать интересные места и знакомиться с культурой различных стран.
            </p>
            <div>
                <div class="row row-first">
                    <div class="col-md-3 order-md-1">
                        <div class="feature-heading lh-0"><h2>100+</h2><br>
                            <p>статей</p></div>
                    </div>
                    <div class="col-md-3 order-md-2">
                        <div class="feature-heading lh-0"><h2>4</h2><br>
                            <p>категории</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 order-md-1">
                        <div class="feature-heading lh-0"><h2>216</h2><br>
                            <p>пользователей</p></div>
                    </div>
                    <div class="col-md-3 order-md-2">
                        <div class="feature-heading  lh-0"><h2>24</h2><br>
                            <p>автора</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 align="center" class="feature-heading fw-normal lh-1">
        Наши новости
    </h2>

    <div class="row row-1">
        <div th:switch="${posts}" th:each="post : ${posts}">
            <h2 th:case="null">Новости не найдены</h2>
            <div th:case="*">
                <div class="col-md-4 order-md-1 card shadow-sm">
                    <div class="rect-3 content">
                        <img src="/img/1.png" alt="1.png">
                    </div>

                    <div class="card-body">
                        <div class="card-title" th:text="${post.getArticle()}"></div>
                        <div class="card-text" th:text="${post.getContent()}"></div>
                        <div class="row">
                            <div th:text="${post.getUser().getUsername()}"></div>
                            <div class="card-text" th:text="${post.getUpdatedAt()}"></div>
                        </div>
                        <div class="row">
                            <form class="mt-0" action="#" th:action="@{/posts/{id}(id=${post.postId})}" method="get">
                                <button class="btn btn-lg btn-primary" type="submit">Читать далее</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!--    <div align="center">-->
<!--        <button class="btn btn-lg btn-primary">-->
<!--            <a href="/post-create">Создать пост</a>-->
<!--        </button>-->
<!--    </div>-->
</div>
</body>
</html>