<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать пост</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<form action="#" th:action="@{/post-create}" th:object="${post}" method="post">
    <label for="article">Название</label>
    <input type="text" th:field="*{article}" id="article" placeholder="Article">
    <label for="content">Содержание</label>
    <input type="text" th:field="*{content}" id="content" placeholder="Content">
    <input type="submit" value="Create Post">
</form>
</body>
</html>