<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Посты</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>
<body>
<!--<div th:insert="/blocks/header :: header"></div>-->
<div th:insert="~{/blocks/header :: header}"></div>
<div id="cover" class="cover">
    <img src="/img/articles-cover.png" alt="articles-cover.png">
</div>
<div class="container">
    <!--    <div>-->
    <!--        <div class="col-md-12 card mt-3 mb-3">-->
    <!--            <div class="card-body">-->
    <!--                <h2 class="lh-base">Название</h2>-->
    <!--                <p class="card-text">Текст статьи</p>-->
    <!--                <form class="mb-2">-->
    <!--                    <button class="btn btn-lg btn-primary">Читать все</button>-->
    <!--                </form>-->

    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <div class="row-1">
        <div th:switch="${posts}" th:each="post : ${posts}">
            <h2 th:case="null">Новости не найдены</h2>
            <div th:case="*">
                <div class="col-md-4 order-md-1 card shadow-sm">
                    <div class="rect-3 content">
                        <img src="/img/1.png" alt="1.png">
                    </div>

                    <div class="card-body">
                        <div class="card-title" th:text="${post.getArticle()}"></div>
                        <div class="card-text" th:text="${post.getContent()}"></div>
                        <div th:text="${post.getUser().getUsername()}"></div>
                        <div>
                            <form class="mt-0" action="#" th:action="@{/post/{id}(id=${post.postId})}" method="get">
                                <button class="btn btn-lg btn-primary" type="submit">Читать далее</button>
                            </form>
                            <small class="text-muted" th:href="${post.getUpdatedAt()}"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>